langgraph
langchain
langsmith
python-dotenv
langchain-groq 
langchain_tavily
torch
PyMuPDF
Pillow
transformers
numpy
scikit-learn
langchain-community
faiss-cpu
fitz
ipykernel
huggingface_hub[hf_xet]
anthropic
streamlit